name: Node.js CI

on:
  push:
    branches:
      - master
  pull_request:

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2-beta
        with:
          node-version: 16.x
      - name: Install dependencies
        run: npm install
      - name: Run ESLint
        run: npm run eslint
      - name: Check types
        run: npm run check-types
  test:
    services:
      couchdb:
        image: couchdb:latest
        env:
          COUCHDB_USER: admin
          COUCHDB_PASSWORD: admin
        ports:
          - 5984:5984
      rest-on-couch:
        image: ghcr.io/cheminfo/rest-on-couch-client:latest
        env:
          COUCHDB_DATA_DIRECTORY: ./couchdb-data
          COUCHDB_ROC_SERVER_PASSWORD: admin
          COUCHDB_USER: admin
          COUCHDB_PASSWORD: admin
          COUCHDB_ROC_ADMIN_PASSWORD: admin
          DEBUG: couch:error,couch:warn,couch:debug
          REST_ON_COUCH_SESSION_KEY: koa:roc-eln
          REST_ON_COUCH_SESSION_DOMAIN: localhost
          REST_ON_COUCH_ORIGINS: http://localhost
          REST_ON_COUCH_APP_KEYS: 1fonlj0c194bdeb6e9482a948cfd26b9
        ports:
          - 4000:4000
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [14.x, 16.x, 18.x]
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2-beta
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install dependencies
        run: npm install
      - name: Run tests
        run: npm run test-coverage
      - name: Send coverage report to Codecov
        uses: codecov/codecov-action@v1
